<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <variable name="VerboseLayout"
            value="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}-[${activityid:whenEmpty=${aspnet-TraceIdentifier:whenEmpty=${activity:property=TraceId}}}] - ${message}${newline}${onexception:${exception:maxInnerExceptionLevel=10:innerExceptionSeparator=&#xD;&#xA;&#x9;:format=Message,ShortType,StackTrace}${newline}}" />
  <variable name="HeaderLayout" value="${longdate} Logging started${newline}" />
  <variable name="FooterLayout" value="${newline}${longdate} Shutdown${newline}" />
  <variable name="LogDirectory" value="./log/" />
  <variable name="ArchiveLogDirectory" value="./log/" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore.Targets.Gelf" />
    <add assembly="NLog.DiagnosticSource" />
  </extensions>

  <targets async="true">
    <target name="errorFile" xsi:type="File" fileName="${LogDirectory}error_${date:format=yyyy-MM-dd}.txt"
            layout="${VerboseLayout}"
            encoding="utf-8"
            maxArchiveFiles="0"
            header="${HeaderLayout}"
            keepFileOpen="false"
            concurrentWrites="true"
            footer="${FooterLayout}" lineEnding="None"/>

    <target name="debugFile" xsi:type="File" fileName="${LogDirectory}debug_${date:format=yyyy-MM-dd}.txt"
            layout="${VerboseLayout}"
            encoding="utf-8"
            maxArchiveFiles="0"
            header="${HeaderLayout}"
            keepFileOpen="false"
            concurrentWrites="true"
            footer="${FooterLayout}" lineEnding="None"/>

    <target xsi:type="Gelf" name="graylog" endpoint="udp://13.61.107.136:12201" facility="netcore"
            SendLastFormatParameter="true" gelfVersion="1.1">
      <parameter name="assembly" layout="${appdomain:format={1\}:cached=True}" />
      <parameter name="log-level" layout="${level:uppercase=true}" />
      <parameter name="callsite"
                 layout="${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}" />
      <parameter name="threadid" layout="${threadid}" />
      <parameter name="hostname" layout="${hostname}" />
      <parameter name="activityId"
                 layout="${activityid:whenEmpty=${aspnet-TraceIdentifier:whenEmpty=${activity:property=TraceId}}}" />
      <parameter name="hierarchicalId"
                 layout="${activity:property=Id}" />
      <parameter name="spanId"
                 layout="${activity:property=SpanId}" />
      <parameter name="parentId"
                 layout="${activity:property=ParentId}" />
      <parameter name="traceId"
                 layout="${activity:property=TraceId}" />
    </target>
  
	
    <target name="console" xsi:type="ColoredConsole" >
		  <layout xsi:type="JsonLayout" EscapeForwardSlash="false">
			  <attribute name="ip"
						 layout="${aspnet-request-ip:CheckForwardedForHeader=true}" />
			  <attribute name="spanId"
						 layout="${activity:property=SpanId}" />
			  <attribute name="parentId"
						 layout="${activity:property=ParentId}" />
			  <attribute name="traceId"
						 layout="${activity:property=TraceId}" />
			  <attribute layout="${level:upperCase=true}" name="Level"/>
			  <attribute layout="${message}" name="Message" encode="false"/>
			  <attribute layout="${exception:format=tostring,StackTrace}" name="Exception"/>
			  <attribute layout="${ndlc}" name="Context"/>
		  </layout>
	</target>
		
  </targets>

  <rules>
	<logger name="Microsoft.*" maxLevel="Info" final="true" />
	<logger name="System.Net.Http.*" maxLevel="Info" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="debugFile,graylog,console" />
    <logger name="*" minlevel="Warn" writeTo="errorFile" />
  </rules>
</nlog>
